.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  line-height: 24px;
  border-radius: 24px;
}

.material-icons {
  font-size: 24px;
}

.mat-icon-button {
  width: 24px;
  height: 24px;
}

.mat-button .mat-button-wrapper>*,
.mat-flat-button .mat-button-wrapper>*,
.mat-stroked-button .mat-button-wrapper>*,
.mat-raised-button .mat-button-wrapper>*,
.mat-icon-button .mat-button-wrapper>*,
.mat-fab .mat-button-wrapper>*,
.mat-mini-fab .mat-button-wrapper>* {
  vertical-align: text-bottom;
}
