<ngx-codemirror #codemirror [options]="codeMirrorCSOptions" [(ngModel)]="dataCS">
</ngx-codemirror>
<nav class="navbar navbar-dark py-0 bg-dark navbar-expand-sm py-md-0 commands">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item upload-btn-wrapper">
        <button mat-icon-button color="primary" matTooltip="Upload file" matTooltipPosition="above">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <input type="file" (change)="fileChanged($event)">
      </li>
      <li class="nav-item">
        <button mat-icon-button color="primary" matTooltip="Download file" matTooltipPosition="above"
          (click)="saveDocument()">
          <mat-icon>cloud_download</mat-icon>
        </button>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button mat-icon-button color="primary" (click)="analyze()" matTooltip="Analyze" matTooltipPosition="above">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button mat-icon-button color="primary" (click)="errorsReport()" matTooltip="Erros" matTooltipPosition="above">
          <mat-icon>bug_report</mat-icon>
        </button>
      </li>
      <li class="nav-item">
        <button mat-icon-button color="primary" (click)="tokensReport()" matTooltip="Tokens" matTooltipPosition="above">
          <mat-icon>reorder</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</nav>
