<nav class="navbar navbar-dark py-0 bg-dark navbar-expand-lg py-md-0">
  <label class="navbar-brand">Translator</label>
</nav>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-cs-editor></app-cs-editor>
    </div>
    <div class="col-12 d-block d-sm-block d-md-block d-lg-none"><br></div>
    <div class="col-12 col-lg-6">
      <app-python-editor></app-python-editor>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-12 col-lg-6">
      <app-symbol-table></app-symbol-table>
    </div>
    <div class="col-12 d-block d-sm-block d-md-block d-lg-none"><br></div>
    <div class="col-12 col-lg-6">
      <mat-tab-group class="bg-dark">
        <mat-tab label="HTML">
          <ng-template matTabContent>
            <app-html-editor></app-html-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="JSON">
          <ng-template matTabContent>
            <app-json-editor></app-json-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <br>
</div>
