<nav class="navbar navbar-dark py-0 bg-dark navbar-expand-lg py-md-0" style="height: 40px;">
  <label class="navbar-brand">Translator</label>
</nav>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-6">
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" class="bg-dark"
        dynamicHeight="true">
        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
          <ng-template matTabContent>
            <app-cs-editor (newTab)="addTab()"></app-cs-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-12 d-block d-sm-block d-md-block d-lg-none"><br></div>
    <div class="col-12 col-lg-6">
      <mat-tab-group class="bg-dark" dynamicHeight="true">
        <mat-tab label="PYTHON">
          <ng-template matTabContent>
            <app-python-editor></app-python-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-12 col-lg-6">
      <app-symbol-table></app-symbol-table>
    </div>
    <div class="col-12 d-block d-sm-block d-md-block d-lg-none"><br></div>
    <div class="col-12 col-lg-6">
      <mat-tab-group class="bg-dark" dynamicHeight="true">
        <mat-tab label="HTML">
          <ng-template matTabContent>
            <app-html-editor></app-html-editor>
          </ng-template>
        </mat-tab>
        <mat-tab label="JSON">
          <ng-template matTabContent>
            <app-json-editor></app-json-editor>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <br>
</div>
