@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';
@import '~codemirror/theme/panda-syntax.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

body {
  background-color: #21222C;
}

.CodeMirror {
  font-size: 13px;
  height: 250px;
}

.bg-dark {
  background-color: #191A21 !important;
}

.mat-tab-label,
.mat-tab-link {
  color: #F8F8F2FF;
}

.mat-tab-label-active {
  opacity: 1 !important;
  color: white !important;
}

.mat-tab-label {
  height: 35px !important;
}

.mat-tab-label,
.mat-tab-link {
  font-size: 14px !important;
}
