@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';
@import '~codemirror/theme/panda-syntax.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

body {
  background-color: #21222C;
}

.CodeMirror {
  font-size: 13px;
  height: 248px;
}

.bg-dark {
  background-color: #191A21 !important;
}

.mat-tab-label,
.mat-tab-link {
  color: #F8F8F2FF;
}

.mat-tab-label-active {
  opacity: 1 !important;
  color: white !important;
}

.mat-tab-label {
  height: 35px !important;
}

.mat-tab-label,
.mat-tab-link {
  font-size: 14px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #E91E63FF;
}

.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-group.mat-background-primary .mat-tab-header-pagination,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header-pagination {
  background-color: #E91E63FF;
}
