table {
  width: 100%;
}

tr.mat-header-row {
  height: 30px;
  font-size: 15px !important;
}

.mat-header-cell {
  font-size: 14px;
  color: #F8F8F2FF;
  background-color: #191A21 !important;
}

.mat-cell,
.mat-footer-cell {
  color: #F8F8F2FF;
  font-size: 13px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 37px;
}

.mat-table thead,
.mat-table tbody,
.mat-table tfoot,
mat-header-row,
mat-row,
mat-footer-row,
[mat-header-row],
[mat-row],
[mat-footer-row],
.mat-table-sticky {
  background-color: #282A36FF;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: 13px;
  color: #F8F8F2FF;
  background-color: #282A36FF;
  height: 40px;
}
